<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <userSettings xdt:Transform="Replace">
    <BarcodeAppDesktop.Properties.Settings>
      <setting name="ZebraOffsetX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ZebraOffsetY" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ZebraConnectionType" serializeAs="String">
        <value>USB</value>
      </setting>
      <setting name="SelectedLanguage" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="OneLabelPerPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrinterType" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ZebraComPort" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="LastUsedVendor" serializeAs="String">
        <value />
      </setting>
      <setting name="PrintZoomRatio" serializeAs="String">
        <value>0.72</value>
      </setting>
      <setting name="DataInputType" serializeAs="String">
        <value>Manual</value>
      </setting>
      <setting name="ZebraPrintDirection" serializeAs="String">
        <value>Landscape</value>
      </setting>
      <setting name="ZebraDPI" serializeAs="String">
        <value>DPI200</value>
      </setting>
      <setting name="AutoSelectPrinter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastPrinterQueue" serializeAs="String">
        <value />
      </setting>
      <setting name="NormalOffsetX" serializeAs="String">
        <value>260</value>
      </setting>
      <setting name="NormalOffsetY" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="NormalPrintDirection" serializeAs="String">
        <value>Portrait</value>
      </setting>
    </BarcodeAppDesktop.Properties.Settings>
  </userSettings>
  <applicationSettings xdt:Transform="Replace">
    <BarcodeAppDesktop.Properties.Settings>
      <setting name="DBName" serializeAs="String">
        <value>MHS</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="IncomingDateFormat" serializeAs="String">
        <value>dd/MM/yyyy HH:mm:ss</value>
      </setting>
      <setting name="Query_MaterialDescription" serializeAs="String">
        <value>SELECT Description FROM MaterialDescription WHERE IdMaterial = @IdMaterial AND Lang = @Lang</value>
      </setting>
      <setting name="Query_ActiveLots" serializeAs="String">
        <value>
          SELECT DISTINCT CASE WHEN  (LOT.QUANTITY - LOT.ASSOCIATEDQUANTITY) = 0 AND LEN(LOT.SAPIR) &lt; 18 THEN -1
          WHEN (Lot.Quantity - Lot.AssociatedQuantity) = 0 THEN 0  WHEN Lot.ScheduleState = 4 THEN -2
          ELSE (Lot.Quantity - Lot.AssociatedQuantity)  END as [RemainQty], Lot.Quantity as Qty, Lot.Type,
          Lot.AssociatedQuantity as AssociatedQty, convert(varchar, Lot.IncomingDate, 103) + ' ' + convert(varchar, Lot.IncomingDate, 108) as IncomingDate, Lot.PositionType,
          Lot.IdMaterial, Lot.VendorIssueNumber As DNDDT, Lot.SAPIR, Lot.IdCustomer AS IdSupplier, Lot.CustomerOrder AS SupplierCode, Lot.AssociatedQuantity, Lot.SAPASN, Lot.id
          FROM Lot LEFT OUTER JOIN Container ON Lot.IdMaterial = Container.IdMaterial WHERE TYPE in (0,2) AND Lot.Quantity &gt; Lot.AssociatedQuantity
        </value>
      </setting>
      <setting name="IsInternal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EncryptedPassword" serializeAs="String">
        <value></value>
      </setting>
      <setting name="IncludeDeliveryNoteInBarcode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MHSServer" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EnableQualityStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Query_GetContainerInfo" serializeAs="String">
        <value>
          SELECT  DISTINCT
          CASE WHEN (Lot.Quantity - Lot.AssociatedQuantity) = 0 THEN 0  WHEN Lot.ScheduleState = 4 THEN -2
          ELSE (Lot.Quantity - Lot.AssociatedQuantity)  END as [RemainQty],
          c.Quantity as Qty,
          Lot.Type,
          Lot.AssociatedQuantity as AssociatedQty,
          convert(varchar, Lot.IncomingDate, 103) + ' ' + convert(varchar, Lot.IncomingDate, 108) as IncomingDate,
          Lot.PositionType,
          Lot.IdMaterial, Lot.VendorIssueNumber As DNDDT,
          Lot.SAPIR,
          Lot.IdCustomer AS IdSupplier,
          Lot.CustomerOrder AS SupplierCode,
          Lot.AssociatedQuantity,
          Lot.SAPASN,
          Lot.id,
          md.Description AS Description
          FROM Container c INNER JOIN Lot ON c.IdLot = Lot.id
          LEFT OUTER JOIN Container ON Lot.IdMaterial = Container.IdMaterial
          LEFT OUTER JOIN dbo.MaterialDescription md ON Lot.IdMaterial = md.IdMaterial
          WHERE c.Id = @IdContainer AND md.Lang = 'EN'
        </value>
      </setting>
      <setting name="LabelBGColor" serializeAs="String">
        <value>#FFF5F5F5</value>
      </setting>
      <setting name="InputDeliveryNoteASNMaxLength" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="InputDeliveryNoteASNLegalChar" serializeAs="String">
        <value>0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</value>
      </setting>
      <setting name="InputPanelType" serializeAs="String">
        <value>FG</value>
      </setting>
      <setting name="InputQuantityMinLength" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InputQuantityMaxLength" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="InputVendorMinLength" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="InputVendorMaxLength" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="ZPLTemplate200DPIWithQR" serializeAs="String">
        <value>
          ^XA
          ^LH{{ZEBRA_OFFSET_X}}, {{ZEBRA_OFFSET_Y}}
          ^FO5, 5^GB790, 1190, 2, B^FS
          ^FO175, 5^GB0, 1190, 2, B^FS
          ^FO345, 5^GB0, 590, 2, B^FS
          ^FO440, 590^GB0, 590, 2, B^FS
          ^FO270, 590^GB0, 590, 2, B^FS
          ^FO550, 5^GB0, 1190, 2, B^FS
          ^FO5, 590^GB550, 0, 2, B^FS
          ^FO175, 850^GB100, 0, 2, B^FS
          ^FO185, 60^A0R, 48,40^BY2^BCR, 75 , Y, Y^FDV{{VENDOR}}^FS
          ^FO595,790^BQN,2,6,L^FDLA,{{QR_STRING}}^FS
          ^FO325, 15^A0R, 20,26^FDSupplier (V)^FS
          ^FO355, 60^A0R, 68,40^BY2^BCR, 85 , Y, Y^FDQ{{QUANTITY}}^FS
          ^FO530, 15^A0R, 20,26^FDQuantity (Q)^FS
          ^FO560, 60^A0R, 100, 45^BY2^BCR, 100 ,Y, Y, ^FDP{{PART_NUMBER}}^FS
          ^FO280, 660^A0R, 48,40^BY2^BCR, 75 , Y, Y^FD5K{{DELIVERY_NOTE_OR_ASN}}^FS
          ^FO420, 600^A0R, 20,26^FDReference logistics (5k)^FS
          ^FO450, 680^A0R, 68,40^FD{{DESCRIPTION}}^FS
          ^FO530, 600^A0R, 20,26^FDProduct^FS
          ^FO185, 610^A0R, 58,40^FD{{DELIVERY_DATE}}^FS
          ^FO250, 600^A0R, 20,26^FDDate^FS
          ^XZ
        </value>
      </setting>
      <setting name="ZPLTemplate200DPIWithQRSmall" serializeAs="String">
        <value>
          ^XA
          ^LH{{ZEBRA_OFFSET_X}}, {{ZEBRA_OFFSET_Y}}
          ^FO2,23^GB820,522,1,B,0^FS
          ^FO2,190^GB820,254,1,B,0^FS
          ^FO2,190^GB410,254,1,B,0^FS
          ^FO2,190^GB410,127,1,B,0^FS
          ^FO412,190^GB408,85,1,B,0^FS
          ^FO410,359^GB410,85,0,B,0^FS
          ^FO11,192^A0N,25,23^FDQuantity^FS
          ^FO20,55^A0N,95,84^FD{{PART_NUMBER}}^FS
          ^FO11,315^A0N,25,23^FDVendor Code^FS
          ^FO414,195^A0N,25,23^FDDescription^FS
          ^FO414,279^A0N,25,36^FDASN^FS
          ^FO417,362^A0N,25,25^FDDate^FS
          ^FO20,228^A0N,72,94^FD{{QUANTITY}}^FS
          ^FO20,355^A0N,72,104^FD{{VENDOR}}^FS
          ^FO445,224^A0N,44,36^FD{{DESCRIPTION}}^FS
          ^FO445,305^A0N,45,74^FD{{DELIVERY_NOTE_OR_ASN}}^FS
          ^FO445,398^A0N,34,36^FD{{DELIVERY_DATE}}^FS
          ^FO665,10^BQN,3,4^FDLA{{QR_STRING}}^FS
          ^FO510,47^A0N,123,318^FDK^FS
          ^XZ
        </value>
      </setting>
      <setting name="ZPLTemplate200DPIWithQRSmallAndKQ" serializeAs="String">
        <value>
          ^XA
          ^LH{{ZEBRA_OFFSET_X}}, {{ZEBRA_OFFSET_Y}}
          ^FO2,13^GB820,490,1,B,0^FS
          ^FO2,150^GB820,254,1,B,0^FS
          ^FO2,150^GB410,254,1,B,0^FS
          ^FO2,150^GB410,127,1,B,0^FS
          ^FO412,150^GB408,85,1,B,0^FS
          ^FO410,319^GB410,85,0,B,0^FS
          ^FO410,359^GB410,0,0,B,0^FS
          ^FO11,152^A0N,25,25^FDQuantity^FS
          ^FO5,25^A0N,105,75^FD{{PART_NUMBER}}^FS
          ^FO11,278^A0N,25,25^FDVendor Code^FS
          ^FO11,405^A0N,25,25^FDSerial Number^FS
          ^FO11,435^A0N,62,94^FD{{SN}}^FS
          ^FO50,517^A0N,35,37^FD WARNING:^FS
          ^FO210,517^A0N,35,27^FD Cancer and Reproductive Harm - www.P65Warnings.ca.gov^FS
          ^FO420,365^A0N,25,25^FDMHS Container Id^FS
          ^FO414,155^A0N,25,25^FDDescription^FS
          ^FO414,239^A0N,25,25^FDASN^FS
          ^FO417,332^A0N,25,25^FDDate^FS
          ^FO20,188^A0N,72,94^FD{{QUANTITY}}^FS
          ^FO20,315^A0N,72,104^FD{{VENDOR}}^FS
          ^FO435,184^A0N,40,36^FD{{DESCRIPTION}}^FS
          ^FO435,275^A0N,32,36^FD{{DELIVERY_NOTE_OR_ASN}}^FS
          ^FO490,322^A0N,32,36^FD{{DELIVERY_DATE}}^FS
          ^FO480,15^BQN,3,4^FDLA{{QR_STRING}}^FS
          ^FO610,30^A0N,85,150^FD{{IS_CONSIGNMENT}}^FS
          ^FO700,30^A0N,85,150^FD{{IS_PQA}}^FS
          ^FO11,505^GFA,294,294,7, 00000000000000
          00000000000000
          00000000000000
          00000080000000
          000001C0000000
          000003E0000000
          000003F0000000
          00000770000000
          00000F38000000
          00000E38000000
          00001C1C000000
          00001C1E000000
          0000380E000000
          00007887000000
          000073E7800000
          0000E3E3800000
          0001E3E3C00000
          0001C3E1C00000
          0003C3E0E00000
          000383E0F00000
          000703E0700000
          000F03E0780000
          000E01E0380000
          001C01C01C0000
          003C01C01E0000
          003801C00E0000
          007001C0070000
          00F001C0078000
          00E00080038000
          01E0000003C000
          03C001C001E000
          038003E000E000
          078007F000F000
          070007F0007000
          0E0003E0003800
          1E0001C0003C00
          1C000000001C00
          3FFFFFFFFFDE00
          3FFFFFFFFFFE00
          3FFFFFFFFFFE00
          00000000000000
          00000000000000
          ^FS
          ^XZ
        </value>
      </setting>
      <setting name="ZPLTemplate200DPIWithQRSmallAndKQ_Rotate90" serializeAs="String">
        <value>
         ^XA
          ^LH{{ZEBRA_OFFSET_X}}, {{ZEBRA_OFFSET_Y}}
          ^FO8,4^GB510,790,2^FS
          ^FO151,11^GB0,780,2^FS
          ^FT20,280^BQN,2,4
          ^FDLA,{{QR_STRING}}^FS
          ^FO152,400^GB365,0,2^FS
          ^FO296,402^GB0,388,2^FS
          ^FO416,401^GB0,387,2^FS
          ^FO272,13^GB0,389,2^FS
          ^FO351,12^GB0,389,2^FS
          ^FO400,12^GB0,390,2^FS
          ^FT173,780^A0B,23,21^FB73,1,0^FH\^FDQuantity^FS
          ^FT310,783^A0B,23,21^FB111,1,0^FH\^FDVendor Code^FS
          ^FT440,784^A0B,23,21^FB130,1,0^FH\^FDSerial Number^FS
          ^FT173,394^A0B,23,21^FB130,1,0^FH\^FDDescription^FS
          ^FT293,397^A0B,23,21^FB60,1,0^FH\^FDASN^FS
          ^FT378,397^A0B,23,21^FB39,1,0^FH\^FDDate^FS
          ^FT429,379^A0B,23,21^FB154,1,0^FH\^FDMHS Container Id^FS
          ^FT100,772^A0B,81,81^FB600,1,0^FH\^FD{{PART_NUMBER}}^FS
          ^FT242,775^A0B,65,64^FB500,1,0^FH\^FD{{QUANTITY}}^FS
          ^FT380,776^A0B,60,62^FB400,1,0^FH\^FD{{VENDOR}}^FS
          ^FT500,776^A0B,60,62^FB400,1,0^FH\^FD{{SN}}^FS
          ^FT547,726^A0B,35,32^FB400,1,0^FH\^FDWARNING:^FS
          ^FT547,585^A0B,35,22^FB500,1,0^FH\^FDCancer and Reproductive Harm -www.P65Warnings.ca.gov^FS
          ^FO518,732^GFA,294,294,6, 000000000000
          000000000000
          000000000700
          000000001F00
          000000003F00
          00000000FF00
          00000003F300
          00000007C700
          0000001F8700
          0000003E0700
          000000FC0700
          000001F00700
          000007C00700
          00001F800700
          00003E000700
          0000FC000700
          0003F0000700
          0007C0000700
          001F80000700
          003E00000700
          00F800000700
          03F00000C700
          07C3FE01E700
          0F03FFF3F700
          1E07FFFBF700
          0F83FFF3F700
          07C3FC01E700
          01F00000C700
          00FC00000700
          003E00000700
          000F80000700
          0007E0000700
          0001F0000700
          0000FC000700
          00003E000700
          00000F800700
          000007C00700
          000001F00700
          000000FC0700
          0000003E0700
          0000001F8700
          00000007C700
          00000003F700
          00000000FF00
          000000003F00
          000000001F00
          000000000700
          000000000000
          000000000000
          ^FS
          ^FT225,392^A0B,37,38^FB400,1,0^FH\^FD{{DESCRIPTION}}^FS
          ^FT324,392^A0B,34,33^FB290,1,0^FH\^FD{{DELIVERY_NOTE_OR_ASN}}^FS
          ^FT380,338^A0B,28,28^FB500,1,0^FH\^FD{{DELIVERY_DATE}}^FS
          ^FT104,70^A0B,95,100^FB150,1,0^FH\^FD{{IS_PQA}}^FS
          ^FT104,140^A0B,95,100^FB150,1,0^FH\^FD{{IS_CONSIGNMENT}}^FS
          ^XZ
        </value>
      </setting>
    </BarcodeAppDesktop.Properties.Settings>
  </applicationSettings>
</configuration>