<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
<userSettings xdt:Transform="Replace">
    <BarcodeAppDesktop.Properties.Settings>
      <setting name="ZebraOffsetX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ZebraOffsetY" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ZebraConnectionType" serializeAs="String">
        <value>USB</value>
      </setting>
      <setting name="SelectedLanguage" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="OneLabelPerPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrinterType" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ZebraComPort" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="LastUsedVendor" serializeAs="String">
        <value />
      </setting>
      <setting name="PrintZoomRatio" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DataInputType" serializeAs="String">
        <value>ContainerScan</value>
      </setting>
      <setting name="ZebraPrintDirection" serializeAs="String">
        <value>Landscape</value>
      </setting>
      <setting name="ZebraDPI" serializeAs="String">
        <value>DPI200</value>
      </setting>
      <setting name="AutoSelectPrinter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastPrinterQueue" serializeAs="String">
        <value />
      </setting>
      <setting name="NormalOffsetX" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="NormalOffsetY" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="NormalPrintDirection" serializeAs="String">
        <value>Portrait</value>
      </setting>
      <setting name="EnableContainerGeneration" serializeAs="String">
        <value>True</value>
      </setting>
    </BarcodeAppDesktop.Properties.Settings>
  </userSettings>
  <applicationSettings xdt:Transform="Replace">
    <BarcodeAppDesktop.Properties.Settings>
      <setting name="DBName" serializeAs="String">
        <value>MHS</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>sa_mhs</value>
      </setting>
      <setting name="IncomingDateFormat" serializeAs="String">
        <value>dd/MM/yyyy HH:mm:ss</value>
      </setting>
      <setting name="Query_MaterialDescription" serializeAs="String">
        <value>SELECT Description FROM MaterialDescription WHERE IdMaterial = @IdMaterial AND Lang = @Lang</value>
      </setting>
      <setting name="Query_ActiveLots" serializeAs="String">
        <value>SELECT DISTINCT CASE WHEN  (LOT.QUANTITY - LOT.ASSOCIATEDQUANTITY) = 0 AND LEN(LOT.SAPIR) &lt; 18 THEN -1 
                                                        WHEN (Lot.Quantity - Lot.AssociatedQuantity) = 0 THEN 0  WHEN Lot.ScheduleState = 4 THEN -2 
                                                        ELSE (Lot.Quantity - Lot.AssociatedQuantity)  END as [RemainQty], Lot.Quantity as Qty, Lot.Type, 
                                                        Lot.AssociatedQuantity as AssociatedQty, convert(varchar, Lot.IncomingDate, 103) + ' ' + convert(varchar, Lot.IncomingDate, 108) as IncomingDate, Lot.PositionType,
                                                        Lot.IdMaterial, Lot.VendorIssueNumber As DNDDT, Lot.SAPIR, Lot.IdCustomer AS IdSupplier, Lot.CustomerOrder AS SupplierCode, Lot.AssociatedQuantity, Lot.SAPASN, Lot.id
                                                        FROM Lot LEFT OUTER JOIN Container ON Lot.IdMaterial = Container.IdMaterial WHERE TYPE in (0,2) AND Lot.Quantity &gt; Lot.AssociatedQuantity
                                                        AND Lot.Quantity &lt; 2000000000</value>
      </setting>
      <setting name="IsInternal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EncryptedPassword" serializeAs="String">
        <value>xyN7gJVXQkFCfcQi4fXwCQ==</value>
      </setting>
      <setting name="IncludeDeliveryNoteInBarcode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MHSServer" serializeAs="String">
        <value>165.195.126.32</value>
      </setting>
      <setting name="Query_GetContainerInfo" serializeAs="String">
        <value>
          SELECT  DISTINCT
          CASE WHEN (Lot.Quantity - Lot.AssociatedQuantity) = 0 THEN 0  WHEN Lot.ScheduleState = 4 THEN -2
          ELSE (Lot.Quantity - Lot.AssociatedQuantity)  END as [RemainQty],
          c.Quantity as Qty,
          Lot.Type,
          Lot.AssociatedQuantity as AssociatedQty,
          convert(varchar, Lot.IncomingDate, 103) + ' ' + convert(varchar, Lot.IncomingDate, 108) as IncomingDate,
          Lot.PositionType,
          Lot.IdMaterial, Lot.VendorIssueNumber As DNDDT,
          Lot.SAPIR,
          Lot.IdCustomer AS IdSupplier,
          Lot.CustomerOrder AS SupplierCode,
          Lot.AssociatedQuantity,
          Lot.SAPASN,
          Lot.id,
          md.Description AS Description
          FROM Container c INNER JOIN Lot ON c.IdLot = Lot.id
          LEFT OUTER JOIN Container ON Lot.IdMaterial = Container.IdMaterial
          LEFT OUTER JOIN dbo.MaterialDescription md ON Lot.IdMaterial = md.IdMaterial
          WHERE c.Id = @IdContainer AND md.Lang = 'EN'
        </value>
      </setting>
      <setting name="EnableQualityStatus" serializeAs="String">
        <value>False</value>
      </setting>
       <setting name="LabelBGColor" serializeAs="String">
        <value>#FFF</value>
      </setting>
      <setting name="InputDeliveryNoteASNMaxLength" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="InputDeliveryNoteASNLegalChar" serializeAs="String">
        <value>0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</value>
      </setting>
      <setting name="InputPanelType" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="InputQuantityMinLength" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InputQuantityMaxLength" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="InputVendorMinLength" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="InputVendorMaxLength" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="EnableContainerSearch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableContainerScan" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableContainerGenerationOption" serializeAs="String">
        <value>True</value>
      </setting>
    </BarcodeAppDesktop.Properties.Settings>
  </applicationSettings>


</configuration>