<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <userSettings xdt:Transform="Replace">
    <BarcodeAppDesktop.Properties.Settings>
      <setting name="ZebraOffsetX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ZebraOffsetY" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ZebraConnectionType" serializeAs="String">
        <value>USB</value>
      </setting>
      <setting name="SelectedLanguage" serializeAs="String">
        <value>SimpleChinese</value>
      </setting>
      <setting name="OneLabelPerPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrinterType" serializeAs="String">
        <value>Zebra</value>
      </setting>
      <setting name="ZebraComPort" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="LastUsedVendor" serializeAs="String">
        <value />
      </setting>
      <setting name="PrintZoomRatio" serializeAs="String">
        <value>0.72</value>
      </setting>
      <setting name="DataInputType" serializeAs="String">
        <value>Manual</value>
      </setting>
      <setting name="ZebraPrintDirection" serializeAs="String">
        <value>Portrait</value>
      </setting>
      <setting name="ZebraDPI" serializeAs="String">
        <value>DPI200</value>
      </setting>
      <setting name="AutoSelectPrinter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastPrinterQueue" serializeAs="String">
        <value />
      </setting>
      <setting name="NormalOffsetX" serializeAs="String">
        <value>260</value>
      </setting>
      <setting name="NormalOffsetY" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="NormalPrintDirection" serializeAs="String">
        <value>Portrait</value>
      </setting>
      <setting name="TestServerIps" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EnableContainerGeneration" serializeAs="String">
        <value>False</value>
      </setting>
    </BarcodeAppDesktop.Properties.Settings>
  </userSettings>
  <applicationSettings xdt:Transform="Replace">
    <BarcodeAppDesktop.Properties.Settings>
      <setting name="DBName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value></value>
      </setting>
      <setting name="IncomingDateFormat" serializeAs="String">
        <value>dd/MM/yyyy HH:mm:ss</value>
      </setting>
      <setting name="Query_MaterialDescription" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Query_ActiveLots" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="IsInternal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EncryptedPassword" serializeAs="String">
        <value></value>
      </setting>
      <setting name="IncludeDeliveryNoteInBarcode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MHSServer" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EnableQualityStatus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableSAPStorageBin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAutoLabelQtyCalculation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Query_GetContainerInfo" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="LabelBGColor" serializeAs="String">
        <value>#FFF5F5F5</value>
      </setting>
      <setting name="InputDeliveryNoteASNMaxLength" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="InputDeliveryNoteASNLegalChar" serializeAs="String">
        <value>0123456789</value>
      </setting>
      <setting name="InputPanelType" serializeAs="String">
        <value>Zebra</value>
      </setting>
      <setting name="InputQuantityMinLength" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InputQuantityMaxLength" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="InputVendorMinLength" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="InputVendorMaxLength" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="ZPLTemplate200DPIWithQR" serializeAs="String">
        <value>
          ^XA
          ^LH{{ZEBRA_OFFSET_X}}, {{ZEBRA_OFFSET_Y}}
          ^FO5, 5^GB790, 1190, 2, B^FS
          ^FO175, 5^GB0, 1190, 2, B^FS
          ^FO345, 5^GB0, 590, 2, B^FS
          ^FO440, 590^GB0, 590, 2, B^FS
          ^FO270, 590^GB0, 590, 2, B^FS
          ^FO550, 5^GB0, 1190, 2, B^FS
          ^FO5, 590^GB550, 0, 2, B^FS
          ^FO175, 850^GB100, 0, 2, B^FS
          ^FO185, 60^A0R, 48,40^BY2^BCR, 75 , Y, Y^FDV{{VENDOR}}^FS
          ^FO595,790^BQN,2,6,L^FDLA,{{QR_STRING}}^FS
          ^FO325, 15^A0R, 20,26^FDSupplier (V)^FS
          ^FO355, 60^A0R, 68,40^BY2^BCR, 85 , Y, Y^FDQ{{QUANTITY}}^FS
          ^FO530, 15^A0R, 20,26^FDQuantity (Q)^FS
          ^FO560, 60^A0R, 100, 45^BY2^BCR, 100 ,Y, Y, ^FDP{{PART_NUMBER}}^FS
          ^FO280, 660^A0R, 48,40^BY2^BCR, 75 , Y, Y^FD5K{{DELIVERY_NOTE_OR_ASN}}^FS
          ^FO420, 600^A0R, 20,26^FDReference logistics (5k)^FS
          ^FO450, 680^A0R, 68,40^FD{{DESCRIPTION}}^FS
          ^FO530, 600^A0R, 20,26^FDProduct^FS
          ^FO185, 610^A0R, 58,40^FD{{DELIVERY_DATE}}^FS
          ^FO250, 600^A0R, 20,26^FDDate^FS
          ^XZ
        </value>
      </setting>
      <setting name="ZPLTemplate200DPIWithQRSmall" serializeAs="String">
        <value>
          ^XA
          ^LH{{ZEBRA_OFFSET_X}}, {{ZEBRA_OFFSET_Y}}
          ^FO2,23^GB820,522,1,B,0^FS
          ^FO2,190^GB820,254,1,B,0^FS
          ^FO2,190^GB410,254,1,B,0^FS
          ^FO2,190^GB410,127,1,B,0^FS
          ^FO412,190^GB408,85,1,B,0^FS
          ^FO410,359^GB410,85,0,B,0^FS
          ^FO11,192^A0N,25,23^FDQuantity^FS
          ^FO20,55^A0N,95,84^FD{{PART_NUMBER}}^FS
          ^FO11,315^A0N,25,23^FDVendor Code^FS
          ^FO414,195^A0N,25,23^FDDescription^FS
          ^FO414,279^A0N,25,36^FDASN^FS
          ^FO417,362^A0N,25,25^FDDate^FS
          ^FO20,228^A0N,72,94^FD{{QUANTITY}}^FS
          ^FO20,355^A0N,72,104^FD{{VENDOR}}^FS
          ^FO445,224^A0N,44,36^FD{{DESCRIPTION}}^FS
          ^FO445,305^A0N,45,74^FD{{DELIVERY_NOTE_OR_ASN}}^FS
          ^FO445,398^A0N,34,36^FD{{DELIVERY_DATE}}^FS
          ^FO665,10^BQN,3,4^FDLA{{QR_STRING}}^FS
          ^FO510,47^A0N,123,318^FDK^FS
          ^XZ
        </value>
      </setting>
      <setting name="ZPLTemplate200DPIWithQRSmallAndKQ" serializeAs="String">
        <value>
          ^XA
          ^LH{{ZEBRA_OFFSET_X}}, {{ZEBRA_OFFSET_Y}}

          ^FO2,23^GB820,522,1,B,0^FS
          ^FO2,190^GB410,127,1,B,0^FS
          ^FO2,190^GB410,254,1,B,0^FS
          ^FO2,190^GB410,127,1,B,0^FS
          ^FO412,190^GB408,85,1,B,0^FS
          ^FO410,359^GB410,184,0,B,0^FS
          ^FO410,444^GB410,0,0,B,0^FS

          ^FO11,35^A0N,25,25^FDPart Number^FS
          ^FO5,70^A0N,90,70^FDP{{PART_NUMBER}}^FS

          ^FO11,195^A0N,25,25^FDQuantity^FS
          ^FO20,228^A0N,72,94^FDQ{{QUANTITY}}^FS

          ^FO11,321^A0N,25,25^FDVendor Code^FS
          ^FO20,355^A0N,72,104^FDV{{VENDOR}}^FS

          ^FO11,447^A0N,25,25^FDQC Status^FS

          ^FO490,40^BQN,3,4^FDLA{{QR_STRING}}^FS

          ^FO630,70^A0N,85,150^FD{{IS_CONSIGNMENT}}^FS
          ^FO720,70^A0N,85,150^FD{{IS_PQA}}^FS

          ^FO414,195^A0N,25,25^FDDescription^FS
          ^FO435,224^A0N,40,36^FD{{DESCRIPTION}}^FS

          ^FO414,279^A0N,25,25^FDASN^FS
          ^FO435,315^A0N,32,36^FD5K{{DELIVERY_NOTE_OR_ASN}}^FS

          ^FO417,362^A0N,25,25^FDDate^FS
          ^FO435,395^A0N,32,36^FD{{DELIVERY_DATE}}^FS

          ^FO416,449^A0N,25,25^FDMHS Container Id^FS
          {{IdContainer}}

          ^XZ
        </value>
      </setting>
      <setting name="ZPLTemplate200DPIWithQRSmallAndKQ_Rotate90" serializeAs="String">
        <value>
          ^XA
          ^LH{{ZEBRA_OFFSET_X}}, {{ZEBRA_OFFSET_Y}}
          ^FO30,4^GB545,790,2^FS
          ^FO200,10^GB0,780,2^FS

          ^FO200,480^GB370,0,2^FS
          ^FO330,400^GB0,390,2^FS
          ^FO460,400^GB0,390,2^FS
          ^FO330,10^GB0,390,2^FS
          ^FO460,10^GB0,390,2^FS


          ^FT50,780^A0B,23,21^FB154,1,0^FH\^FDPart Number^FS
          ^FT130,772^A0B,70,70^FB600,1,0^FH\^FDP{{PART_NUMBER}}^FS

          ^FT50,310^BQN,2,4^FDLA,{{QR_STRING}}^FS

          ^FT130,76^A0B,95,100^FB150,1,0^FH\^FD{{IS_PQA}}^FS
          ^FT130,146^A0B,95,100^FB150,1,0^FH\^FD{{IS_CONSIGNMENT}}^FS

          ^FT220,780^A0B,23,21^FB73,1,0^FH\^FDQuantity^FS
          ^FT282,775^A0B,65,64^FB500,1,0^FH\^FDQ{{QUANTITY}}^FS

          ^FT350,783^A0B,23,21^FB111,1,0^FH\^FDVendor Code^FS
          ^FT420,776^A0B,60,62^FB400,1,0^FH\^FDV{{VENDOR}}^FS

          ^FT480,784^A0B,23,21^FB130,1,0^FH\^FDQC Status^FS

          ^FT220,464^A0B,23,21^FB130,1,0^FH\^FDDescription^FS
          ^FT280,450^A0B,37,38^FB400,1,0^FH\^FD{{DESCRIPTION}}^FS

          ^FT350,460^A0B,23,21^FB160,1,0^FH\^FDDelivery Note^FS
          ^FT420,450^A0B,34,33^FB290,1,0^FH\^FDN{{DELIVERY_NOTE}}^FS

          ^FT480,467^A0B,23,21^FB39,1,0^FH\^FDDate^FS
          ^FT530,450^A0B,28,28^FB500,1,0^FH\^FD{{DELIVERY_DATE}}^FS

          ^FT190,1400^A0B,50,40^FH\^FDMHS Container Id^FS
          {{IdContainer}}

          ^XZ
        </value>
      </setting>
      <setting name="EnableContainerGenerationOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableContainerScan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MHSModule" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ContainerGenerationTemplate" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ContainerGenerationTemplateRotate90" serializeAs="String">
        <value></value>
      </setting>
      <setting name="MHSPort" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultNumberOfLabel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ASNPromptText" serializeAs="String">
        <value>ASN/Delivery Note</value>
      </setting>
      <setting name="EnableDeliveryNoteInput" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableMaximizedWindowOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
    </BarcodeAppDesktop.Properties.Settings>
  </applicationSettings>
</configuration>