<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Dapper" version="1.13" targetFramework="net45" />
  <package id="Exceptionless" version="1.5.2092" targetFramework="net45" />
  <package id="Exceptionless.Wpf" version="1.5.2092" targetFramework="net45" />
  <package id="FluentValidation" version="5.4.0.0" targetFramework="net45" />
  <package id="Honeywell.Common" version="1.0.1.2167" targetFramework="net45" />
  <package id="Honeywell.MHS.ClientLib" version="1.2.0.2264" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.0.61" targetFramework="net45" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="net45" />
  <package id="NLog" version="4.0.0" targetFramework="net45" />
  <package id="WpfLocalizeExtension" version="2.2.1" targetFramework="net45" />
  <package id="XAMLMarkupExtensions" version="1.1.6.3" targetFramework="net45" />
</packages>